$background:        #12101d !important;
$background-alt:    #2e3440 !important;
$foreground:        #e6e6fa !important;
$foreground-alt:    #8d99a8 !important;

$background-t80:    rgba(18, 16, 29, 0.80) !important;

$black:             #12101d !important;
$gray:              #455a64 !important;
$white:             #e6e6fa !important;
$cyan:              #2cbacd !important;
$magenta:           #d61d8f !important;
$yellow:            #e9de66 !important;
$red:               #f55145 !important;
$blue:              #37a0f6 !important;
$orange:            #f5c943 !important;
$purple:            #922e92 !important;
$green:             #87bf48 !important;